#%RAML 0.8
baseUri: https://mocksvc.mulesoft.com/mocks/e587eca7-408e-4a33-8372-8812549e196e
title: salesforce-Sanjay
version: 1.0
schemas: 
  - order: !include schemas/input_schema
/order:
  displayName: Create Order
  post:
    description: Create Order in SF
    body:
      application/json:
        schema: order
        example: !include example/input.json
    responses:
      201:
        body:
          application/json:
            example: | 
              {"message" : "order created" }
              
      400:
        body:
          application/json:
            example: |
              {"message" : "something went wrong"}
  /{id}:
    displayName: Get Order by ID
    uriParameters:
      id:
        type: string
        example: 80128000000CYnE
        description: Order ID
    get:
      description: Get Order by ID
      responses:
        200:
          body:
            application/json:
              example: !include example/input.json
        400:
          body:
            application/json:
              example: |
                 {"message" : "Bad Request"}
        404:
          body:
            application/json:
              example: |
                {
                  "message": "Resource not found"
                }
/deleteorder/{id}:
  delete:
    description: Delete order
    responses:
      200:
        body:
          application/json:
            example: |
                 {"message" : "Deleted but not really"}
/updateorder/{id}:
  put:
    description: update the order
    body:
      application/json:
        example:  !include example/order-update.json
    responses:
      201:
        body:
          application/json:
            example: |
                {"message" : "Record updated"}
/updateEventDB:
  displayName: update Order table
  description: update Order DB and add all event which are associated with salesforce Order
  get:
    description: update Event table
    responses:
          200:
            body:
              application/json:
                example: |
                 {"message":"database updated Successfully"}

